/* Introduction.css */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Catamaran&family=Cinzel:wght@600;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.introduction-container {
   width: 80vw;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-left: 50px;
   animation: fadeIn 3s ease-in-out;
  }
  .text-container{
    width: 70%;
  }
  .text-container h1 {
    font-size: 5rem; 
    color: #ADD8E6; 
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-items: baseline;
  }
  .text-container p{
    font-size: 1.2rem;
    color: #ADD8E6; 
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  @keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
  }