@import url('https://fonts.googleapis.com/css2?family=Hind&family=Sora&family=Tajawal&family=Zilla+Slab&display=swap');

@layer base{
	html{
		font-family: "Poppins", sans-serif;
	}
}

.blinking-cursor::after {
	content: "|";
	animation: blink 1s step-end infinite;
  }
  @keyframes blink {
	from,
	to {
	  opacity: 1;
	}
	50% {
	  opacity: 0;
	}
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

